@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

.hidden {
  display: none;
}

.word:hover {
  cursor: pointer;
  color: grey;
  font-style: normal lightgrey bold;
}

.word {
  margin-right: 10px;
  font-size: 25px;
  align-self: flex-end;
}

.definition {
font-size: 15px;
align-self: flex-end;
}

.result {
  display: flex;
  align-self: center;
  margin-bottom: 0px;
}

.results_below {
  color: grey;
  font-size: 10px;
}

.row_2 {
  min-height: 100vh;
}

.title {
  padding: 15px; /* Add padding to prevent content from touching the shadow */
  background-color: lightgrey;
}

.header {
  font-family: 'RM Pro', sans-serif, bold;
  font-weight: 700;
  color: black;
  text-align: left;
  font-size: 30px;
}

.font_style_1 {
  font-family: 'RM Pro', sans-serif, bold;
  font-size: 25px;
}

.font_style_2 {
  font-family: 'RM Pro', sans-serif, bold;
  font-size: 20px;
}

.findWordButton {
  font-family: 'RM Pro', sans-serif, bold;
}

.advOptionsButton {
  font-family: 'RM Pro', sans-serif, bold;
}
